#main{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    height:100%;
}
#Header{
    height:auto;
    text-align: center;
    background-color:#66ccff;
}
#Pulse{
    width:50%;
    float:left;
    height:60%;
    margin-top:5%;
    background-color:white;
}

#Bill{
    height:60%;
    float:right;
    width:50%;
    margin-top:5%;
}
#Footer{
    height:5%;
    margin-bottom:10px;
    color: #3c4040;
    clear:both;
}
#Inputdate{
    margin-top:6%;
}
body {
}
#Table{
    border: 2px solid;
    height:auto;
    text-align:center; 
    width:300px;
}
#label{
    color: red;
}
#Logout{
    color: #ff6666;
}
#ProfilePic{
    width:60px;
    height:80px;
}#Info{
    font-family: Tahoma;
    font-size: 19;
    width: 100%;
    height:70%;
}